<!DOCTYPE html>
<html>
<head>
    <title>{{ listing.product_name }} - Nittany Auction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="bg-body-tertiary justify-content-center">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 px-4 border-bottom bg-primary shadow-sm">
        <a href="/{{ role }}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-white text-decoration-none">
            <h4 class="fw-bold m-0">NittanyAuction</h4>
        </a>

        {% if seller_type != "vendor" %}
        <nav class="navbar col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <form class="d-flex" action="/search" method="GET">
                <input class="form-control me-2 rounded-pill px-3" type="search" name="q"
                       placeholder="Search products, sellers..." aria-label="Search" value="{{ request.args.get('q', '') }}">

                <input type="number" name="min_p" class="form-control me-2 rounded-pill" placeholder="Min $" style="width: 100px;">
                <input type="number" name="max_p" class="form-control me-2 rounded-pill" placeholder="Max $" style="width: 100px;">

                <button class="btn btn-outline-light rounded-pill px-4" type="submit">Search</button>
            </form>
        </nav>
        {% else %}
        <div class="py-4 mb-1"></div>
        {% endif %}

        <div class="col-md-3 text-end d-flex align-items-center justify-content-end">
            {% if role == "seller" %}
                <a href="/sell_item" class="btn btn-light me-2 text-primary px-4 rounded-3">Sell Item</a>
                <a href="/seller" class="btn btn-outline-light me-2 px-4 rounded-3">Dashboard</a>
            {% endif %}
            <a href="/my_account" class="btn btn-outline-light me-2 px-4 rounded-3">My Account</a>
            <a href="/logout">
                <svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 16.5V19C15 20.1046 14.1046 21 13 21H6C4.89543 21 4 20.1046 4 19V5C4 3.89543 4.89543 3 6 3H13C14.1046 3 15 3.89543 15 5V8.0625M11 12H21M21 12L18.5 9.5M21 12L18.5 14.5" stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
        </div>
    </header>

    <div class="d-flex justify-content-center mb-4">
        <div class="d-flex mx-5 justify-content-between align-items-end" style="width: 75vw;">
            <div class="col-3">
               <a href="/buyer" class="btn btn-outline-primary px-4">Back</a>
            </div>
            <div class="col-6">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% if messages[0] == "Item successfully updated!" or messages[0] == "Bid placed successfully." or messages[0] == "Payment successful." %}
                            <div class="alert alert-primary m-auto mt-3" role="alert">
                                <p class="text-center mb-0">{{ messages[0] }}</p>
                            </div>
                        {% else %}
                            <div class="alert alert-danger m-auto mt-3" role="alert">
                                <p class="text-center mb-0">{{ messages[0] }}</p>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="col-3 d-flex justify-content-end">
                {% if listing.seller_email == user and numbids == 0 and listing.status == 1%}
                    <a href="/edit_item/{{ listing.seller_email }}/{{ listing.listing_ID }}" class="btn btn-primary px-4 mx-2">Edit</a>
                    <a href="/remove_item/{{ listing.seller_email }}/{{ listing.listing_ID }}" class="btn btn-outline-primary px-4">Remove</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-center">
        <div class="d-flex mx-5 justify-content-center align-items-start gap-4" style="height: 60vh; width: 75vw;">
            <div id="auction-info" class="card p-4 rounded-4 border w-100">
                <h1>{{ listing.auction_title }}</h1>
                <p class="card-text fw-light fs-5">{{ listing.category }}</p>
                {% if listing.status == 2 %}
                <span class="badge rounded-pill text-bg-primary col-2 py-2 mb-3">Sold</span>
                {% endif %}
                {% if listing.status == 0 %}
                <span class="badge rounded-pill text-bg-secondary col-2 py-2 mb-3">Inactive</span>
                {% endif %}
                <div class="fw-bold fs-5 card-text">Current Bid</div>
                {% if latestbid %}
                <p class="card-text fs-3 fw-medium text-primary">${{ latestbid.bid_price }}</p>
                {% else %}
                <p class="card-text fs-3 fw-medium text-primary">None</p>
                {% endif %}
                <div class="fw-bold fs-5 card-text">Reserve Price</div>
                <p class="card-text fs-3 fw-medium text-primary">${{ listing.reserve_price }}</p>
                <div class="fw-bold fs-5 card-text">Bids</div>
                <p class="card-text fs-5 fw-light">{{ numbids }} out of {{ listing.max_bids }}</p>
                
                {% if listing.status == 1 and seller_type != "vendor" %}
                    <hr>
                    <div class="fw-bold fs-5 card-text mb-2">Your Bid</div>
                    <form method="POST">
                        <div class="input-group mb-3">
                            <span class="input-group-text fs-5">$</span>
                            <input class="form-control fw-light fs-5" type="number" name="new_bid" placeholder="1" min="1"><br>
                        </div>
                        <button type="submit" class="btn btn-primary px-4">Place Bid</button>
                    </form>
                {% endif %}
            </div>
            <div id="product-info" class="card p-4 rounded-4 border w-100">
                <div class="fw-bold fs-5 card-text">Product Name</div>
                <p class="card-text fs-5 fw-light">{{ listing.product_name }}</p>
                <div class="fw-bold fs-5 card-text">Description</div>
                <p class="card-text fs-5 fw-light">{{ listing.product_description }}</p>
                <div class="fw-bold fs-5 card-text">Quantity</div>
                <p class="card-text fs-5 fw-light">{{ listing.quantity }}</p>
                <hr>
                <div class="fw-bold fs-5 card-text">Seller</div>
                <span class="card-text fs-5 fw-light mb-1">{{ listing.seller_email }}</span>
                {% if avg_rating %}
                    <span class="card-text fs-5">★ {{ avg_rating }}/5.0</span>
                {% else %}
                    <span class="card-text fs-5">★ This seller has no reviews yet.</span>
                {% endif %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>