<!DOCTYPE html>
<html>
<head>
    <title>NittanyAuction Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="d-flex flex-column py-4 justify-content-center" style="min-height: 100vh;">

    <div>
        <div class="d-flex flex-column justify-content-center">
            <h1 class="text-center pb-2 fw-bold">Login</h1>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger w-25 m-auto my-auto align-items-center mb-4" role="alert">
                    <p class="text-center mb-0">{{ message }}</p>
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

        <div class="justify-content-center py-3 bg-body-tertiary col-lg-3 m-auto border rounded-5">
            <form method="POST" class="form-signin w-100 m-auto py-3 px-5">
                <div class="">
                    <label class="col-form-label fw-semibold">Email</label><br>
                    <input class="form-control fw-light" type="email" name="email" placeholder="abc123@lsu.edu"><br>
                </div>

                <div class="">
                    <label class="form-label fw-semibold">Password</label><br>
                    <input class="form-control fw-light" type="password" name="password" placeholder="•••••••••"><br>
                </div>

                <button type="submit" class="btn btn-primary w-100 fw-semibold py-2">Log In</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>